Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
string = "This is a String"
list_1 = [1,2,"This is a list",2.33]
float_1 = 21.14
tuple_1 =(1,2,2,"This is a tuple")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Answer for 2nd question
var1 = String
var2 = string
var3 = list
var4 = Int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [24]:
# / is used for division
a = 4/2
# % is a modulus operator it is used to get the remainder 
b = 4%2
# //  rounds the result down to the nearest whole number
c= 3//2
# ** it multiplies the number exponentially
a= 5
b=3
d=a**b  # it will be 5*5*5

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [41]:
list_1 = [1,2,3,4,"Five",6.1,7,8,"nine",10.10]
for i in list_1:
    print(i)

1
2
3
4
Five
6.1
7
8
nine
10.1

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [51]:
#solution

a= int(input())
b= int(input())
i=0

if a%b==0:
    while a%b==0:
        a/=b
        i+=1
    print("A is purely divisible by B")
    print(i)
else:
    print("A is not purely divisible by B")

 100
 2

A is purely divisible by B
2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [3]:
for i in range (1,26):
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [6]:
# answer of q.7

# mutable data types are the data types where we can change the content by indexing it 
example= [1,2,2,4,5]
example[3]="This is changed so it is mutable"
example

[1, 2, 2, 'This is changed so it is mutable', 5]

In [5]:
# mutable data types are the data types where we can not change the content by indexing it
example_2 = "change"
example_2[3]="m"

TypeError: 'str' object does not support item assignment